{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{# sonata_template_box 'This is the catalog template!. Feel free to override it.' #}
{% if category %}
    {% block sonata_page_breadcrumb %}
        <div class="row-fluid clearfix">
            {{ sonata_block_render_event('breadcrumb', { 'context': 'catalog', 'category': category, 'current_uri': app.request.requestUri }) }}
        </div>
    {% endblock %}
{% endif %}

<div class="row">

    <div class="col-sm-3">

        {% block product_category %}
            {{ sonata_block_render({'type': 'sonata.product.block.categories_menu', 'settings': {
                'current_uri': app.request.requestUri,
                'extra_cache_keys': {
                    'block_id':    'sonata.product.block.categories_menu',
                    'updated_at':  'now',
                },
                'ttl': 60
            }}) }}
        {% endblock %}

        {#{% block product_filter %}#}
            {#{% if provider %}#}
                {#<div class="well" style="padding: 8px 0;">#}
                    {#{{ sonata_block_render({'type': 'sonata.product.block.filters_menu'}, {'product_provider': provider, 'current_uri': app.request.requestUri}) }}#}
                {#</div>#}
            {#{% endif %}#}
        {#{% endblock %}#}

    </div>

    <div class="col-sm-9">

            {% if category is null %}

            <!-- рев слайдер -->

            <div class="revolution_slider">

                <div class="rev_slider">

                    <ul>

                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431609309.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Соус песто</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431608943.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Оливковое масло</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431682974.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Томатные соусы</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src=/bundles/sonatademo/images/slider_bg/1431608736.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Прошутто</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431607628.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Утренняя выпечка</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431612066.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Кантуччи</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431608442.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Твердые сыры</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431609080.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Кофе</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1457092311.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;"></div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1438109296.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Итальянские конфеты</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431611792.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Томаты</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431609183.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Моцарелла и буррата</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>
                        <li data-transition="papercut" data-slotamount="7">

                            <img src="/bundles/sonatademo/images/slider_bg/1431678153.jpg" alt="">
                            <div class="caption sfl stl layer_9" data-x="right" data-y="220" data-hoffset="-90" data-easing="easeOutBack" data-speed="600" data-start="1000" style="text-shadow:1px 1px 5px #000000;">Оливки</div>

                            <div class="caption sfb stb" data-x="right" data-y="300" data-hoffset="-90" data-easing="easeOutBack" data-speed="700" data-start="1100">
                                <a href="#" class="button_blue big_btn">Подробнее</a>
                            </div>


                        </li>



                    </ul>

                </div>

            </div>

            <!--завершение слайдер -->

            {% endif %}

        {% if pager.count == 0 %}

            {% block no_products %}
                <div class="no-products-available">
                    {% trans from 'SonataProductBundle' %}no_products_available{% endtrans %}
                </div>
            {% endblock %}

        {% else %}

            <div class="panel sonata-product-navigation-bar">
                {% if category %}
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="panel-title">{{ category.name }}</h4>
                        </div>
                        <div class="col-sm-9">
                            {% include 'SonataProductBundle:Catalog:_pager.html.twig' %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% block products %}{% endblock %}

                {% if pager.paginationData.pageCount > 1 %}
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                {% include 'SonataProductBundle:Catalog:_pager.html.twig' %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}

    </div>

</div>
