parameters:
    sonata.order.admin.order.class: 'Application\Sonata\OrderBundle\Admin\OrderAdmin'

# Enable Doctrine to map the provided entities
doctrine:
    orm:
        entity_managers:
            default:
                mappings:
                    ApplicationSonataOrderBundle: ~
                    SonataOrderBundle: ~
