sonata_delivery:
    methods:
        free_address_required: ~
        free_address_not_required: ~
        take_away: application.sonata.delivery.take_away
        free_courier: application.sonata.delivery.free_courier

    services:
        free_address_required:
            name: free_address_required
            priority: 1
            code: free_address_required
        free_address_not_required:
            name: free_address_not_required
            priority: 1
            code: free_address_not_required

    selector: sonata.delivery.selector.default

parameters:
    sonata.delivery.selector.class: Sonata\Component\Delivery\Selector
    sonata.delivery.pool.class: Sonata\Component\Delivery\Pool
# Enable Doctrine to map the provided entities
doctrine:
    orm:
        entity_managers:
            default:
                mappings:
                    ApplicationSonataDeliveryBundle: ~
                    SonataDeliveryBundle: ~
