sonata_product:
    products:
        sonata.clothing_store.product.shoe:
            provider: sonata.clothing_store.product.shoe.type
            manager: sonata.clothing_store.product.shoe.manager
            variations:
                fields: [color]

        sonata.clothing_store.product.trouwser:
            provider: sonata.clothing_store.product.trouwser.type
            manager: sonata.clothing_store.product.trouwser.manager
            variations:
                fields: [type, length, size]

    seo:
        product:
            site: '@sonataproject'
            creator: '@th0masr'
            domain: 'http://demo.sonata-project.org'
            media_prefix: 'http://demo.sonata-project.org'
            media_format: 'reference'



# Enable Doctrine to map the provided entities
doctrine:
    orm:
        entity_managers:
            default:
                mappings:
                    ApplicationSonataProductBundle: ~
                    SonataProductBundle: ~
